Package: com.artikus.externalizer
Name: Externalizer
Depends: mobilesubstrate, preferenceloader, com.rpetrich.rocketbootstrap
Version: 1.1
Architecture: iphoneos-arm
Description: Apple's internal legal "Confidential & Proprietary" lockscreen label for non-internal illegal devices
Maintainer: ArtikusHG
Author: ArtikusHG
Section: Tweaks
